<div class="hero-unit row">
  <div id="index">
    <h1>Donate 2€ and we'll send a compliment</h1>
    <div class="span12" style="margin-left:0px">
      <form action="/donate" method="get">
        I want to tell
        <input name="twitter_handle" id="twitter_handle" type="text" value="@edwardmccaughan" />
        that they are
        <select name="compliment" id="compliment">
          <option value="fabulous">             Fabulous    </option>
          <option value="lovely">               Lovely      </option>
          <option value="cunning">              cunning     </option>
          <option value="funny">                funny       </option>
          <option value="really tall">          Really tall </option>
          <option value="Germanicly efficient"> Germanicly efficient</option>
        </select>

        <input type="submit" value="Donate!" class="btn btn-primary btn-really-large" style="margin-left:1em">
      </form>
      <div id="betterplace_information">
        All donations go to <a href="http://www.betterplace.org/projects/1114">Skateistan Afghanistan</a>
        through the <a href="http://www.betterplace.org">betterplace.org</a> platform
      </div>
    </div>
  </div>
</div>