<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Betterplace compliment bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="css/flatly_bootstrap.css" rel="stylesheet">
    <link href="css/hackday.css" rel="stylesheet">

  </head>

  <body class="preview" id="homepage">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Complimenter</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit row">
        <%= yield %>
      </div>
      <hr>

      <footer>
        <p>&copy; Betterplace.org </p>
      </footer>
  </body>
</html>
