<div class="hero-unit row">
  <h1>Thanks for your donation, we told <%= @compliment.twitter_handle %> how much you appreciate him</h1>

  <a class="twitter-timeline" href="https://twitter.com/bpcomplimentor" data-widget-id="348050773365649408">Tweets by @bpcomplimentor</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>



